//CSS_Index_Vinyl88 
.container {
	display: flex;
  	justify-content: center;
	margin: auto;
}

.vinylBody {
	position: absolute;
  	top: 20%;
}

h1 {
	text-align: center;
	font-family: Fantasy;
	color: white;
}

p {
	text-align: center;
	font-family: Fantasy;
	color: white;
}

.vinylLogo {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 100px;
	height: 100px;
	border-radius: 10%;
}
